/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/


body {
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.scc-title {
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  margin-bottom: 50px;
}
.message-type {
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
  color: #ffffff;
  margin-bottom: 0px;
}

.form-view-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 400px;
  margin-right: 400px;
  height: 85px;
  background-color: #ffffff;
  border-radius: 5px;
}

.form-section {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.affirmation, .mantra {

}

label {
  font-family: 'Quicksand', sans-serif;
}

.receive-msg-button {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 10px;
  background-color: #134d71;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.meditate-icon-section {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 110px;
  border-radius: 5px;
  margin-top: 65px;
  margin-right: 300px;
  margin-bottom: 100px;
  margin-left: 300px;

}
.meditate-icon {
  display: flex;
  justify-content: center;
  width: 60px;
}

.hidden {
  display: none!important;
}

.expression-view {
  background-color: #ffffff;
}

.expression-tag {
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  font-size: 20px;
}
